*{
    padding: 0px;  
    margin: 0px;
    box-sizing: border-box;
  }
  body{
      background-image: url();
      background-size: cover;
      background-position: center;
     
      font-family:sans-serif ;
  }
  .menu-bar{
      background:cornsilk;
      text-align: center;
  }
  .menu-bar ul {
      display: inline-flex;
      list-style: none;
      color: darkkhaki;
  }
  .menu-bar ul li{
      width: 150px;
      margin: 15px;
      padding: 15px;
  }
  .menu-bar ul li a {
      text-decoration: none;
      color: rgb(238, 139, 11);
  }
  .active,.menu-bar ul li:hover{
      background-color: rgb(250, 181, 132) ;
      border-radius: 3px;
  }
  .menu-bar .fa{
      margin-right: 8px;
  }
  .sub-menu-1{
      display: none;
  }
  .menu-bar ul li:hover .sub-menu-1{
      display: block;
      position: absolute;
      background-color: cornsilk ;
      margin-top: 15px;
      margin-left: -15px;
  } 
  .menu-bar ul li:hover .sub-menu-1 ul {
      display: block;
      margin: 10px;
  }
  .menu-bar ul li:hover .sub-menu-1 ul li {
      width: 100px;
      padding: 10px;
      border-bottom: 1px dotted rgb(243, 118, 17);
      background-color: transparent;
      border-radius: 0px;
      text-align: left;
  }
  .menu-bar ul li:hover .sub-menu-1 ul li:last-child{
      border-bottom: none;
  }
  .menu-bar ul li:hover .sub-menu-1 ul li a:hover{
      background-color: rgb(250, 181, 132);
  }
  .btn-wtsp{
      position: fixed;
      width: 55px;
      height: 55px;
      line-height:55px ;
      bottom: 30px;
      right:30px;
      background:#0df053
      color: #fff;
      border-radius:50px ;
      text-align: center;
      font-size: 30px;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 3);
      z-index: 100;
      
      
    }
  .btn-wtsp:hover{
      text-decoration:none ;
      color: #0df053;
      background: #fff ;

  }






